@charset "UTF-8";

@font-face 
{
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*
{
	font-family: 'NanumSquareNeo-Variable' !important;
}
#content
{
	width: calc(100% - 350px);
	margin: 0 300px auto;
	display: flex;
}

#name_div
{
	border: 2px solid gray;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}